<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Checker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Stock Price Checker</h1>
    <hr>
    <div>
        <code>
            GET [..]/api/stock-prices?stock=GOOG <br><br>
            GET [..]/api/stock-prices?stock=GOOG&like=true <br><br>
            GET [..]/api/stock-prices?stock=GOOG&stock=MSFT <br><br>
            GET [..]/api/stock-prices?stock=GOOG&stock=MSFT&like=true <br><br>
        </code>
    </div>
    <hr>
    <div>
        <table>
            <tr>
                <td>Single Price</td>
                <td>Compare</td>
            </tr>
            <tr>
                <td>
                    <form action="/" id="form1">
                        <input type="text" name="stock" placeholder="GOOG" required> <br>
                        <input type="checkbox" name="like" value=true> Like? <br>
                        <input type="submit" value="Check">
                    </form>
                </td>
                <td>
                    <form action="/" id="form2">
                        <input type="text" name="stock" placeholder="GOOG" required> <br>
                        <input type="text" name="stock" placeholder="MSFT" required> <br>
                        <input type="checkbox" name="like" value=true> Like both? <br>
                        <input type="submit" value="Check">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div id="output"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="client.js"></script>
</body>

</html>